body {background-color: #add8e6;
      color: #ffffff;
}
a {color: #ff3ea5;}
h1 {color: #00008b;}
nav {background-color: #add8e6;
     padding: 10px;
     margin-bottom: 30px;
}
nav a {color: #ff3ea5;}
nav a:hover {background-color: #e1afd1;}
.copyright {float: left;}
.quote {margin-left: 900px;}
div {
      display: flex;
      background-color: #add8e6;
      margin: 20px;
      border-radius: 40px;
      flex-wrap: wrap;
}
div a {margin-left: 10px;}
div p {
      float: center;
      margin: 0px 10px 0px 10px;
}
.banner {max-width: 100%;}
@media only screen and (max-width: 800px) {
      nav a {max-width: 100%;
             display: block;
      }
      span {display: none;}
}