
.skip {
      background-color: #387579;
      color: #ffffff;
      padding: 8px;
      text-decoration: none;
      border: 2px solid #ffa500;
      position: absolute;
      top: 10px;
      left: -999px; /* push off left side of browser */
  }
.skip:focus {
      left: 10px;
  }
body {background-color: #add8e6;
      color: #000000;
}
a {color: #ff3ea5;}
h1 {color: #00008b;}
nav {background-color: #add8e6;
     padding: 10px;
     margin-bottom: 30px;
}
nav a {color: #ff3ea5;}
nav a:hover {background-color: #00008b;}
.copyright {float: left;}
.quote {margin-left: 900px;}
div {
      display: flex;
      background-color: #add8e6;
      margin: 20px;
      border-radius: 40px;
      flex-wrap: wrap;
}
div a {margin-left: 10px;}
div p {
      float: center;
      margin: 0px 10px 0px 10px;
}
.banner {max-width: 100%;}
@media only screen and (max-width: 800px) {
      nav a {max-width: 100%;
             display: block;
      }
      span {display: none;}
}